.cs-primary{
	background-color: #04052E;
	color: #F7FFF7;
}

.cs-secondary{
	background-color: #F7FFF7;
	color: #04052E;
}

.cs-tertiary-transparent{
	background-color: #6e75a834;
	color: #04052E;
}

body::before{
	display:block;
	content:"";
	height: 60px;
}
